body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #333;
  min-height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10dvh;
}


header > div {
  display: flex;
  gap: 1rem;
}

header button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background-color: #555;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
} 
  
main .no-characters  {
  text-align: center;
  font-size: 1.5em;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

main .empty-box {
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.character-list {
    max-height: 80dvh;
    padding: .5rem;
  overflow-y: scroll;
}

.character-list .character-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.character-card {
  display: grid;
  grid-template-rows: 1fr auto;
  border: 1px solid #444;
  border-radius: 8px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.character-card:hover {
  border-color: blue;
  background-color: #60a5dd;
  transform: scale(1.05);
}

.character-card.selected {
  border-color: green;
  background-color: #418039;
}

.character-card .character-rarity {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #00000094;
  padding: 2px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-card .character-name {
  background-color: rgb(14, 14, 14);
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.character-list .character-card .character-name {
  padding: 0 10px;
  line-height: 1.2em;
}

.owned-characters-list .character-card .character-name {
  padding: 0 5px;
  line-height: 1.6em;
  font-size: 0.8em;
}

.character-list .character-card .character-rarity {
  font-size: 1em;
}

.owned-characters-list .character-card .character-rarity {
  font-size: 0.7em;
}

.character-list > .character-card .character-name {
  font-size: 1.2em;
  font-weight: bold;
}

.character-card img.character-element {
  right: 5%;
  width: 5dvw;
  height: 5dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #00000094;
  border-radius: 5px;
}

.character-card img.character-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}

.character-list .character-card img.character-element {
  bottom: 20%;
  height: 40px;
  width: 40px;
}

.owned-characters-list .character-card img.character-element {
  bottom: 25%;
  height: 25px;
  width: 25px;
}
/* HOME */

.home-container {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-container > .side-main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-right: 1px solid #444;
}

.home-container > .side-main-menu .menu-button {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.home-container > .side-main-menu .menu-button:hover {
  color: #8df1d0;
  transform: scale(1.05);
  text-decoration: underline;
}


.home-container > .owned-characters-list {
  grid-column: 2/-1;
  padding: 1rem;
  border-right: 1px solid #444;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  max-height: 70dvh;
  border: 2px solid #444;
  border-radius: 8px;
  overflow-y: scroll;
}
/* BUILDS */

.builds-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 20px;
  justify-content: center;
  overflow-y: auto;
  max-height: 70dvh;
}

.builds-container .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.builds-container .character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #fdfdfd;
  border-radius: 10px;
  height: 100%;
}

.builds-container .character.owned {
  background-color: #49bd3a;
  border-color: #418039;
}

.builds-container .character img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 5px;
}

.builds-container .character span {
  margin-top: 5px;
  font-size: 2em;
  text-transform: capitalize;
  text-wrap: balance;
  color: #fff;
  background-color: #222;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

/* IMPORT FILE */

.load-import-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  border: 2px dashed #ccc;
  border-radius: 18px;
}

/* SCRAPPER */

.scrapper-container {
 display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
}

.input-section {
  grid-column: 1 / -1;
  display: flex;
  max-height: 4rem;
  /* align-items: center; */
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #555;
  color: #fff;
}

.input-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input-section button:hover {
  background-color: #0056b3;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
  min-height: 70dvh;
}

.error, .loading,.success-message {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px; 
  display: none; 
}

.error {
  color: red;
  border: 1px solid red;
}

.success-message {
  color: green;
  border: 1px solid green;
}

.loading {
  color: #149bc4;
  border-radius: 10px;
}

:is(.error, .loading, .success-message).visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.json-container {
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.json-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3rem;
  padding: 0 20px;
}


@media screen and (max-width: 920px) {
  .side-main-menu {
    grid-column: 1 / -1;
  }

  .owned-characters-list {
    grid-column: 1 / -1 !important;
  }

  .character-card:not(.selected):hover  {
    background-color: unset;
  }
}

@media screen and (max-width: 600px) {
  header {
   font-size: .4rem;
  }

  header button {
    font-size: 1rem;
    padding: 5px 10px;
  }


  
}
